h1{
    color: blue;
    text-align: center;
}
menu{
    background-color: rgb(70, 235, 70);
    color: white;
}
.checkout{
    background-color: rgb(8, 6, 36);
    color: white;
    text-align: center;
}
